@font-face {
  font-family: Bazar;
  src: url('fonts/Bazar.ttf');
}

@font-face {
  font-family: SeasideResortNF;
  src: url('fonts/SeasideResortNF.ttf');
}


$accent: #F8EBD9;

@import '_slider';

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Slab', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #3c3c3c;
}

// Reusable
section {
  padding: 55px 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.section__header {
  text-transform: uppercase;
  color: #3C3C3C;
  margin-bottom: 36px;

  .section__title {
    font-family: Bazar;
    font-size: 90px;
    text-shadow: 2px 2px 0 #fff,
      4px 4px 0 #3c3c3c;
  }

  .section__title-underline {
    margin: 6px auto;
    font-size: 22px;
    display: inline-block;

    position: relative;

    &:after {
      content: '';
      display: block;
      margin-top: -1px;
      width: 45px;
      height: 3px;
      background-color: #3c3c3c;
      position: absolute;
      top: 50%;
      left: 120%;
    }

    &:before {
      content: '';
      display: block;
      width: 45px;
      height: 3px;
      background-color: #3c3c3c;
      position: absolute;
      top: 50%;
      right: 120%;
    }

  }

  .section__subtitle {
    font-family: Oswald;
    font-size: 16px;
  }

  &--light {
    color: $accent;

    .section__title {
      text-shadow: 2px 2px 0 #3c3c3c, 4px 4px 0 $accent;
    }

    .section__title-underline {

      &:before,
      &:after {
        background-color: $accent;
      }
    }
  }

  @media (max-width: 423px) {
    .section__title {
      font-size: 70px;
    }

    .section__subtitle {
      font-size: 18px;
    }
  }

  @media (max-width: 374px) {
    .section__title {
      font-size: 55px;
    }
  }
}

.items__all {
  display: inline-block;
  font-family: Oswald;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
  padding-top: 8px;
  position: relative;
  margin: 20px auto 0;


  &:before {
    content: '';
    display: block;
    width: 42px;
    height: 2px;
    background-color: #3c3c3c;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

input,
textarea {
  padding: 10px 8px;
  color: #a9a9a9;
  appearance: none;
  font-family: inherit;
  font-size: 12px;
  border: none;
  outline: none;
  border-radius: 4px;
  box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.4) inset, 0px 2px 0px 0px rgba(0, 0, 0, 0.2) inset;

}

.btn {
  padding: 8px 16px;
  background-color: $accent;
  border: none;
  outline: none;
  border-radius: 4px;
  font-family: inherit;
  font-size: 12px;
  color: #383a3c;
  cursor: pointer;
}

.burger-menu {
  display: none;
  padding: 15px 10px;
  height: 45px;
  width: 45px;
  outline: none;
  cursor: pointer;

  & div {
    background-color: #fff1ce;
    width: 100%;
    height: 2px;
    margin-top: 5px;

    &:first-child {
      margin: 0;
    }
  }

  @media (max-width: 575px) {
    display: block;
  }
}

.container {
  margin: 0 auto;
  max-width: 1230px;
  padding: 0 15px;
}


// Header
.header {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 110px;
  padding: 20px 30px;
  box-shadow: 0 3px 5px 0 rgba($color: #555, $alpha: 0.3);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  display: flex;
  justify-content: center;
  align-items: center;

  .header__logo {
    width: 130px;
    margin: 0 10px -5%;
    z-index: 5;
  }

  .header__nav {
    display: flex;

    &--mobile {
      padding: 10px 5px;
      width: 100%;
      display: none;
      flex-direction: column;

      position: absolute;
      top: 100%;
      right: 0;
      z-index: 3;
      background-color: #7BBCBC;

      box-shadow: inherit;

      &.active {
        display: flex;
      }
      .header__nav-item {
        border-bottom: 1px solid $accent;
      }
    }
  }

  .header__nav-item {
    padding: 0.2em;
    margin: 0 0.5em;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Bazar;
    font-size: 28px;
    font-weight: 400;
    white-space: nowrap;
    color: $accent;
    flex-grow: 0;
  }

  @media (max-width: 767px) {
    height: 100px;

    .header__logo {
      width: 100px;
    }

    .header__nav-item {
      font-size: 24px;
      margin: 0 0.4em;
    }
  }

  @media (max-width: 650px) {
    height: 80px;

    .header__logo {
      width: 80px;
    }

    .header__nav-item {
      font-size: 20px;
    }
  }

  @media (max-width: 575px) {
    height: 65px;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;

    & > .header__nav-item {
      display: none;
    }
  }
}




// Intro
.intro {

  .intro__inner {
    font-family: Bazar;
    text-transform: uppercase;
  }

  .intro__header {

    .intro__banner {
      margin: 0 auto 30px;
      max-width: 450px;
      color: #F6EDD9;

      img {
        width: 100%;
      }
    }

    .intro__title-container {
      margin: 4px auto 50px;

      display: flex;
      justify-content: center;

      .intro__title {
        padding: 0 40px;
        height: 50px;

        font-size: 28px;
        color: #4b4e4c;
        line-height: 28px;
        white-space: nowrap;

        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff1ce;

        border-top: 1px dashed #bfb59a;
        border-bottom: 1px dashed #bfb59a;
        outline: 3px solid #fff1ce;

        position: relative;
        z-index: 3;

        box-shadow: 0 3px 5px 1px #555;

        &:before {
          content: '';
          display: block;
          width: 0;
          height: 0;
          border-top: 5px solid #555;
          border-left: 16px solid transparent;
          position: absolute;
          bottom: -9px;
          left: -2px;
          z-index: 2;
        }

        &:after {
          content: '';
          display: block;
          width: 0;
          height: 0;
          border-top: 5px solid #555;
          border-right: 16px solid transparent;
          position: absolute;
          bottom: -9px;
          right: -2px;
          z-index: 2;
        }

      }

      .intro__title-left,
      .intro__title-right {
        width: 60px;
        height: 0;
        border: 26px solid #fff1ce;
        position: relative;
        z-index: 1;
        margin-top: 6px;
      }

      .intro__title-left {
        margin-right: -14px;
        border-left-color: transparent;

        &-dot {
          display: flex;
          position: absolute;
          top: 50%;
          right: 100%;
          transform: translate(-20px, -50%);

        }
      }

      .intro__title-right {
        margin-left: -14px;
        border-right-color: transparent;

        &-dot {
          display: flex;
          position: absolute;
          top: 50%;
          left: 100%;
          transform: translate(20px, -50%);
        }
      }

      .intro__title-dot {
        display: inline-block;
        margin: 9px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #fff1ce;
      }

      @media (max-width: 767px) {
        .intro__title {
          padding: 0px 30px;
        }

        .intro__title-dot {
          display: none;
        }
      }

      @media (max-width: 424px) {
        .intro__title {
          padding: 0px 10px;
          font-size: 24px;
        }

        .intro__title-left-dot,
        .intro__title-right-dot {
          width: 50px;
        }
      }

      @media (max-width: 374px) {
        .intro__title {
          font-size: 20px;
        }
      }
    }
  }

  .intro__slider {
    width: 1200px;
    height: 450px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 2px 2px 3px 0 rgba($color: #555, $alpha: 0.3);

    .intro__slider-item {
      padding: 10px;

      .intro__slider-img {
        width: 100%;
        height: 90%;
        overflow: hidden;
        position: relative;

        img {
          max-width: 100%;
          height: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          z-index: 3;
          transform: translate(-50%, -50%);
        }
      }

      .intro__slider-item-title {
        padding: 5px;
        font-size: 22px;
        color: #4b4e4c;
      }
    }

    .slider__dots {
      display: none;
    }

    .slider-arrow {
      background-color: #fff;
      width: 50px;
      height: 50px;
      border-radius: 50%;

      &.prev {
        left: -15px;

        &:before {
          content: '';
          display: block;
          width: 20px;
          height: 20px;
          border-radius: 5px;
          border: 6px solid #555;
          border-right: none;
          border-bottom: none;
          transform-origin: left top;
          transform: rotate(-45deg);
          position: absolute;
          top: 50%;
          left: 40%;
        }
      }

      &.next {
        right: -15px;

        &:before {
          content: '';
          display: block;
          width: 20px;
          height: 20px;
          border-radius: 5px;
          border: 6px solid #555;
          border-left: none;
          border-bottom: none;
          transform-origin: right top;
          transform: rotate(45deg);
          position: absolute;
          top: 50%;
          right: 40%;
        }
      }
    }
  }

  .intro__text {
    padding-top: 20px;
    font-size: 32px;
    line-height: 1.2;
    color: $accent;
  }
}

// About Me
.about-me {

  &__inner {}

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .about-me__item {
      padding: 10px;
      margin-bottom: 15px;
      width: 25%;
      min-width: 240px;

      display: flex;
      flex-direction: column;
      align-items: center;

      &-img {
        width: 210px;
      }

      &-title {
        margin: 16px 0;
        text-transform: uppercase;
        font-family: Bazar;
        font-size: 27px;
      }

      &-subtitle {
        padding-bottom: 16px;
        margin-bottom: 20px;
        font-size: 14px;
        text-transform: uppercase;
        position: relative;

        &:after {
          content: '';
          display: block;
          width: 40px;
          height: 4px;
          background-color: #3c3c3c;
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      &-text {
        max-width: 270px;
        font-size: 14px;
        text-align: left;
      }
    }

    @media (max-width: 1023px) {
      .about-me__item {
        width: 50%;
      }
    }

    @media (max-width: 767px) {
      .about-me__item {

        &-text {
          font-size: 20px;
        }
      }
    }

    @media (max-width: 575px) {
      .about-me__item {
        width: 100%;
        margin-bottom: 25px;

        &-text {
          max-width: 300px;
        }
      }
    }
  }
}

// Portfolio
.portfolio {

  &__inner {}

  &__filter {
    text-align: left;
    margin: 0 10px 10px;

    &-btns {
      display: flex;
      flex-wrap: wrap;
      align-items: center;


      li {
        height: 24px;
        font-size: 12px;
        font-weight: 700;
        white-space: nowrap;
        margin: 5px 20px;
        padding: 4px 10px 4px 0;
        background-color: #fff;
        border-radius: 0 2px 2px 0;
        box-shadow: 2px 2px 3px 0 rgba($color: #555, $alpha: 0.3);
        position: relative;
        list-style-position: inside;

        &:before {
          content: '';
          display: block;

          border: 12px solid transparent;
          border-right-color: #fff;

          position: absolute;
          top: 50%;
          left: 0;
          transform: translate(-100%, -50%);
        }
      }
    }
  }

  &__cont {}

  &__items {
    margin: 0 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .portfolio__item {
      width: 250px;
      padding: 5px 5px 16px;
      margin: 5px;
      border-radius: 3px;
      background-color: #fff;
      box-shadow: 2px 2px 3px 0 rgba($color: #555, $alpha: 0.3);

      &-img {
        width: 100%;
        max-width: 100%;
        height: 200px;
      }

      &-title {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
      }

      &-icon {
        position: relative;
        margin: -25px auto 0;
        width: 50px;
        height: 45px;
        padding: 10px 10px 5px;
        border-radius: 50%;
        background-color: #fff;

        img {
          width: 100%;
        }
      }
    }
  }


}

// My blog
.my-blog {
  &__items {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px 0;

    &-img {
      width: 280px;
      height: 220px;
      background-color: #fff;
      padding: 5px;
      margin-right: 10px;
      border-radius: 3px;
      box-shadow: 2px 1px 2px 0 rgba($color: #555, $alpha: 0.3);
    }

    &-desc {
      margin: 5px 10px;
      text-align: left;
    }

    &-title {
      font-size: 24px;
      font-weight: 700;
    }

    &-subtitle {
      display: flex;
      justify-content: space-between;
      padding-bottom: 12px;
      margin-bottom: 16px;
      font-family: Oswald;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      position: relative;

      &:after {
        content: '';
        background-color: #3c3c3c;
        position: absolute;
        top: 100%;
        width: 45px;
        height: 2px;
      }

      .my-blog__item-responses {
        white-space: nowrap;
      }
    }
  }

  @media (max-width: 767px) {
    &__item {
      align-items: flex-start;

      &-img {
        width: 50%;
      }

      &-subtitle {
        padding-bottom: 20px;
        position: relative;

        .my-blog__item-responses {
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
    }
  }

  @media (max-width: 575px) {
    &__item {
      flex-direction: column;

      &-img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.contact-me {
  &__form {
    display: inline-block;
  }

  &__socials {
    margin-top: 20px;

    div {
      font-family: Bazar;
      font-size: 24px;
      color: $accent;
      text-transform: uppercase;
      padding-bottom: 9px;
      margin-bottom: 16px;
      position: relative;

      &:after {
        content: '';
        display: block;
        width: 45px;
        height: 2px;
        background-color: $accent;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .social-img {
      width: 80px;
      margin: 10px;
    }
  }

  @media (max-width: 575px) {
    .social-img {
      width: 50px;
    }
  }

  @media (max-width: 424px) {
    .social-img {
      width: 40px;
      margin: 5px;
    }
  }
}

#contactForm {
  max-width: 500px;
  text-align: left;

  input:not([type="submit"]),
  textarea {
    width: 100%;
    margin-bottom: 9px;
    resize: none;
  }
}